.rounded{
    border-radius: 50%;
}
.detailsContainer{
   
    margin-top: 20%;
   
} 
h3{
    font-style: italic;
    color: rgb(138, 23, 23);
}
h4{
    font-style: italic;
    color: rgb(138, 23, 23);
}
.ingContainer{
    font-style: italic;
}
/* td{
    margin-left: 3%;
}
.ingContainer{
    margin-left: 25%;
}
h1,h3{
    margin-left: 25%;
} */